Repository sthinius87/HL-gaps-pub: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --exit-zero
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --disable=import-outside-toplevel
  - --disable=redefined-outer-name
  - --exit-zero
  language: python
  require_serial: true

docsstrings
  hl_gaps_pub/hl_gaps_pub.py
  tests/test_hl_gaps_pub.py
Due: pylint, pylint-tests

docstr
  hl_gaps_pub/hl_gaps_pub.py
Due: pylint

docstrings parsing
  hl_gaps_pub/hl_gaps_pub.py
Due: pylint

ignore output
  hl_gaps_pub/hl_gaps_pub.py
Due: pylint

try capture the writen numbers
  hl_gaps_pub/hl_gaps_pub.py
Due: pylint

indentation
  hl_gaps_pub/hl_gaps_pub.py
Due: pylint

return fixes
  hl_gaps_pub/hl_gaps_pub.py
Due: pylint

missing import
  hl_gaps_pub/hl_gaps_pub.py
Due: pylint

codecov_token
  .github/workflows/main.yml
  README.rst
Due: none

build docs fix 1
  .github/workflows/main.yml
Due: none

add nbsphinx to build-docs
  tox.ini
Due: none

added pandas
  tox.ini
Due: none

ase rdkit xtb xtb-python
  tox.ini
Due: none

indentation
  docs/cli.rst
  hl_gaps_pub/cli.py
Due: pylint

removed -W flag
  tox.ini
Due: none

removed white spaces
  hl_gaps_pub/cli.py
Due: pylint

fix pytest command
  tox.ini
Due: none

try removing install -e .
  .github/workflows/main.yml
Due: none

add [run] section
  .coveragerc
Due: none

removed --cov=hl_gaps_pub (dublicate from pyproject.toml)
  tox.ini
Due: none

added debug commands
  tox.ini
Due: none

added --cov=hl_gaps_pub
  tox.ini
Due: none

debug II
  tests/test_hl_gaps_pub.py
  tox.ini
Due: pylint-tests

pip install -e .
  tox.ini
Due: none

change badge
  README.rst
Due: none

badges
  README.rst
Due: none

tox update
  README.rst
Due: none

badge build status
  README.rst
Due: none

again badge
  README.rst
Due: none

delete file
  results_407260.raw
Due: none

add bumpversion
  pyproject.toml
Due: none

add version containing files
  pyproject.toml
Due: none

Bump version: 0.1.0 → 0.2.0
  hl_gaps_pub/__init__.py
  setup.cfg
  setup.py
Due: pylint

Revert "Bump version: 0.1.0 → 0.2.0"
  hl_gaps_pub/__init__.py
  setup.cfg
  setup.py
Due: pylint

Revert "Bump version: 0.1.0 → 0.2.0"
  HISTORY.rst
  README.rst
  pyproject.toml
Due: none

update setup.cfg
  setup.cfg
Due: none

formating
  setup.cfg
Due: none

Bump version: 0.1.0 → 0.2.0
  HISTORY.rst
  README.rst
  hl_gaps_pub/__init__.py
  pyproject.toml
  setup.cfg
  setup.py
Due: pylint

added dynamic version
  tests/test_hl_gaps_pub.py
Due: pylint-tests

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^(tests|docs)/.*$) and not (^(\.tox|ci/templates|\.bumpversion\.cfg|setup.cfg|env)(/|$))
  pylint-tests: any of: ^tests/.*$ and \.py$ and not (^(\.tox|ci/templates|\.bumpversion\.cfg|setup.cfg|env)(/|$))
