Repository sthinius87/HL-gaps-pub: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --exit-zero
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --disable=import-outside-toplevel
  - --disable=redefined-outer-name
  - --exit-zero
  language: python
  require_serial: true

path adjustment
  scripts/write_scatter_yaml.py
Due: pylint

added content
  README.rst
Due: none

shorter text in abstract
  README.rst
Due: none

removed first line
  hl_gaps_pub/hl_gaps_pub.py
Due: pylint

work on docs
  AUTHORS.rst
  CONTRIBUTING.rst
  README.rst
  docs/cli.rst
  docs/conf.py
  docs/index.rst
  docs/installation_dev.rst
  docs/usage.rst
Due: none

update requirements
  requirements/dev.txt
  requirements/dev_backup.txt
Due: none

updated docstring
  hl_gaps_pub/hl_gaps_pub.py
Due: pylint

updated docstring
  hl_gaps_pub/cli.py
Due: pylint

moved file
  cwl_workflow/write_scatter_yaml.py
Due: pylint

variable generation
  scripts/serial_batch.py
Due: pylint

relative symbolic links
  notebooks/feature_permutation_show.ipynb
Due: none

smaller file
  cwl_workflow/scatter_inp.yml
  cwl_workflow/scatter_wf.cwl
  cwl_workflow/write_scatter_yaml.py
Due: pylint

delete file
  notebooks/feature_permutation.ipynb
Due: none

correct function name
  hl_gaps_pub/cli.py
Due: pylint

added nbsphinx
  docs/conf.py
Due: none

update documentation
  docs/index.rst
  docs/tutorial.rst
Due: none

add nbsphinx
  requirements/dev.txt
Due: none

example results file
  results_407260.raw
Due: none

adjust comment
  setup.py
Due: pylint

added sym links
  docs/notebooks/calc_descriptors.ipynb
  docs/notebooks/feature_permutation_show.ipynb
  docs/notebooks/general_analysis_GBR.ipynb
  docs/notebooks/general_analysis_MLPR.ipynb
  docs/notebooks/heatmap_range.ipynb
  docs/notebooks/save_images_of_molecules.ipynb
Due: none

testing
  data/test/0_test.SDF
  data/test/1000000_COCONUT_2022_01_2D.SDF
  tests/test_hl_gaps_pub.py
Due: pylint-tests

nothing special
  docs/tutorial.rst
Due: none

increase test coverage
  data/test/0_test_no_conf.SDF
  hl_gaps_pub/cli.py
  tests/test_hl_gaps_pub.py
Due: pylint, pylint-tests

added XTBPATH variable
  pyproject.toml
  tests/test_hl_gaps_pub.py
Due: pylint-tests

improved logic in code
  hl_gaps_pub/hl_gaps_pub.py
  tests/test_hl_gaps_pub.py
Due: pylint, pylint-tests

tried add env variable
  pyproject.toml
Due: none

100 % cover
  tests/test_hl_gaps_pub.py
Due: pylint-tests

added pytest-env
  requirements/dev.txt
Due: none

xtbpath adjustment
  pyproject.toml
  tox.ini
Due: none

added for github
  .github/workflows/main.yml
Due: none

black formating
  hl_gaps_pub/cli.py
  hl_gaps_pub/hl_gaps_pub.py
  tests/test_hl_gaps_pub.py
Due: pylint, pylint-tests

minor changes
  .github/workflows/main.yml
Due: none

formating
  hl_gaps_pub/cli.py
  hl_gaps_pub/hl_gaps_pub.py
  tests/test_hl_gaps_pub.py
Due: pylint, pylint-tests

correct for mypy errors
  hl_gaps_pub/hl_gaps_pub.py
Due: pylint

black corrections
  hl_gaps_pub/hl_gaps_pub.py
Due: pylint

isort changes
  hl_gaps_pub/cli.py
  tests/test_hl_gaps_pub.py
Due: pylint, pylint-tests

flake8 workaround
  hl_gaps_pub/cli.py
  tests/test_hl_gaps_pub.py
Due: pylint, pylint-tests

black changes
  hl_gaps_pub/cli.py
  tests/test_hl_gaps_pub.py
Due: pylint, pylint-tests

black formatting (flake8)
  hl_gaps_pub/cli.py
  hl_gaps_pub/hl_gaps_pub.py
  pyproject.toml
  tests/test_hl_gaps_pub.py
Due: pylint, pylint-tests

confiure for pyenv
  .github/workflows/main.yml
  tox.ini
Due: none

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^(tests|docs)/.*$) and not (^(\.tox|ci/templates|\.bumpversion\.cfg|setup.cfg|env)(/|$))
  pylint-tests: any of: ^tests/.*$ and \.py$ and not (^(\.tox|ci/templates|\.bumpversion\.cfg|setup.cfg|env)(/|$))
