Repository sthinius87/HL-gaps-pub: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit install-hooks
exclude: '^(\.tox|ci/templates|\.bumpversion\.cfg|setup.cfg|env)(/|$)'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
      files: ^pyproject.toml$
    - id: requirements-txt-fixer
      name: Fix requirements*.txt
      files: ^requirements.*\.txt$
    - id: trailing-whitespace
      args: [ --markdown-linebreak-ext=md ]

  - repo: https://github.com/timothycrosley/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args: [ --profile, black, --filter-files, --skip-gitignore ]

  - repo: https://github.com/ambv/black
    rev: 24.8.0
    hooks:
    - id: black
      language_version: python3.10

  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.17.0
    hooks:
    -   id: pyupgrade

  #- repo: https://github.com/PyCQA/bandit
  #  rev: 1.7.4
  #  hooks:
  #  - id: bandit
  #    args: ["-r"]
  #    files: ^hl_gaps_pub/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
    - id: mypy
      #additional_dependencies: [ types-PyYAML ]
      #exclude: ^tests/.*$
      args: [ --config-file=pyproject.toml ]

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      exclude: ^docs/.*$

  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      args: [ --rcfile=pyproject.toml, --exit-zero ]
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^(tests|docs)/.*$
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args: [ --rcfile=pyproject.toml, --disable=import-outside-toplevel, --disable=redefined-outer-name, --exit-zero ]
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

include conda packages
  .github/workflows/main.yml
  tox.ini
Due: none

added tox-conda
  requirements/dev.txt
Due: none

test with conda directly
  .github/workflows/main.yml
  tox.ini
Due: none

try install pip along
  .github/workflows/main.yml
  environment.yml
Due: none

removed inline comment
  tox.ini
Due: none

remove another inline comment
  tox.ini
Due: none

try all in environment.yml
  .github/workflows/main.yml
  environment.yml
Due: none

removen ipython-genutils
  environment.yml
Due: none

use tox-conda
  .github/workflows/main.yml
  requirements/common.txt
  tox.ini
Due: none

merged pyproject.toml and tox.ini
  pyproject.toml
  tox.ini
Due: none

updated tox command in CI
  .github/workflows/main.yml
Due: none

revert tox command
  .github/workflows/main.yml
Due: none

undo pyproject and tox separation
  pyproject.toml
  tox.ini
Due: none

use conda deps
  tox.ini
Due: none

black formating
  tests/test_hl_gaps_pub.py
Due: pylint-tests

add my package to testing
  .github/workflows/main.yml
  pyproject.toml
  setup.cfg
Due: none

correct install procedure
  .github/workflows/main.yml
Due: none

adjustments
  pyproject.toml
Due: none

dependencies
  pyproject.toml
Due: none

typo
  pyproject.toml
Due: none

corrections
  pyproject.toml
Due: none

try import-mode=append
  pyproject.toml
Due: none

change project structure
  pyproject.toml
  src/hl_gaps_pub/__init__.py
  src/hl_gaps_pub/cli.py
  src/hl_gaps_pub/hl_gaps_pub.py
  src/hl_gaps_pub/py.typed
  tests/test_hl_gaps_pub.py
Due: pylint, pylint-tests

path update
  tests/test_hl_gaps_pub.py
  tox.ini
Due: pylint-tests

formating fixes
  tests/test_hl_gaps_pub.py
Due: pylint-tests

fix conda command
  .github/workflows/main.yml
Due: none

changed pip command
  .github/workflows/main.yml
Due: none

undo src layout
  hl_gaps_pub/__init__.py
  hl_gaps_pub/cli.py
  hl_gaps_pub/hl_gaps_pub.py
  hl_gaps_pub/py.typed
  tox.ini
Due: pylint

removed scr in run
  .github/workflows/main.yml
Due: none

corrections
  tests/test_hl_gaps_pub.py
  tox.ini
Due: pylint-tests

bug fix
  pyproject.toml
  tox.ini
Due: none

more changes ;-(
  tox.ini
Due: none

removed skip install for testenv
  tox.ini
Due: none

add xtbpath
  tests/test_hl_gaps_pub.py
  tox.ini
Due: pylint-tests

reformat black
  tests/test_hl_gaps_pub.py
Due: pylint-tests

format docstrings
  hl_gaps_pub/hl_gaps_pub.py
Due: pylint

formatting
  hl_gaps_pub/hl_gaps_pub.py
Due: pylint

work on docstrings
  hl_gaps_pub/hl_gaps_pub.py
Due: pylint

try adding path
  tests/test_hl_gaps_pub.py
Due: pylint-tests

corrected pathlib
  hl_gaps_pub/hl_gaps_pub.py
  tests/test_hl_gaps_pub.py
Due: pylint, pylint-tests
